.sidebar-container {
    width: 20%;
    background-color: white;
 
    padding-top: 5rem;
 
    position: fixed;
    height: 100vh;
    
}
.sidebar-centre {
    width: 75%;
    height: 100%;
    margin: 0 auto;
   
    display: flex;
   
    flex-direction: column;
}
.sidebar-container h2 {
    margin-top: 4rem;
}
.product-list {
    margin-top: 2rem;
    list-style-type: none;
}
.product-list li:not(:first-child) {
    margin-top: 2rem;
}
.product-list a {
    display: inline-block;
    color: #121212;
    text-decoration: none;

}

.product-list .active {
    color: #ee4d2d;
}