.admin-show-all-product {
    display: grid;
    grid-template-columns: repeat(auto-fit,150px);
    gap: 20px;
}

.cart-img {
    max-width: 100%;
}
.cart-container {
    border: 1px solid #BABABA;
    
    font-size: 1.2rem;
}
.cart-heading-container {
    height: 30px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0 0 .75rem;
    margin-bottom: .75rem;
}
.cart-heading {
    font-weight: 700;
    display: inline-block;
    line-height: 1.25;
   
}
.cart-info-container {
    display: flex;
    justify-content: space-between;
    padding: 0 .75rem .75rem .75rem;
    
}
.cart-info-price {
    color: #ee4d2d;
    font-size: 1.4rem;
}
.cart-btn-container  {
    display: flex;
    justify-content: space-around;
    background-color: #F5F5F5;
    

}

.btn-cart {
    padding: 1rem;
    text-align: center;
}
.cart-btn-edit {
    flex-basis: 40%;
    /* border-right: 1px solid rgba(0, 0, 0, .1); */
    cursor: pointer;
    /* background-color: salmon; */
}
.cart-btn-delete {
    flex-basis: 40%;
    cursor: pointer;
    /* background-color: royalblue; */
}
.cart-btn-vertical-line {
    border-left: 1px solid rgba(0, 0, 0, .1);

}