button{
    cursor: pointer;
}
.addProduct-container {
    padding-top: 5rem;
    width: 100%;
    padding-left: 20%;

}

.addProduct-centre {
    width: 90%;
    margin: 0 auto;
    padding: 5rem 4rem 0 4rem;
    background-color: white;
}
.addProduct-centre input,.addProduct-centre .select-category {
    background-color: #F5F5F5;
    border: 1px solid #BABABA;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    font-family: "Roboto",sans-serif;
}
.addProduct-centre textarea {
    padding: 1rem 1.2rem;
    resize: none;
    width: 100%;
    background-color: #F5F5F5;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    font-family: "Roboto",sans-serif;
    height: 200px;
    line-height: 1.5;
}
.addProduct-centre .input-title {
    margin-bottom: 2rem;
    font-weight: 700;
}
.addProduct-centre select {
    width: 100%;
}
.addProduct-centre .block-label {
    display: block;
}
.get-margin-top {
    margin-top: 2rem;
}

.input-large {
    width: 100%;
}
.input-small {
    width: 30%;
}
.input-suffix-size {
    padding: 1rem;
    margin-left: -6rem;
}
.input-prefix-price {
    position: relative;
    color: black;
    padding: 1rem;
    margin-right: -4rem;
}
.addProduct-centre .price {
    padding-left: 4rem;
}

.addProduct-centre .btn-promo-box {
    display: block;
    background-color: transparent;
    text-align: center;
    color: #ee4d2d;
   cursor: pointer;
    border: 3px dashed #ee4d2d;
    padding: 1rem 1.2rem;
    width: 100%;
    text-decoration: none;
}

.btn-add-container {
    width: 100%;
    padding: 3rem 0 5rem 0;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    bottom: 0;
    background-color: white;


}
.btn-addProduct {
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    font-family: "Roboto",sans-serif;
    width: 25%;
}
.btn-addProduct-back {
    background-color: transparent;
    color: #ee4d2d;
    border: 3px solid #ee4d2d;
    margin-right: 2rem;
}
.btn-addProduct-submit {
    background-color: #ee4d2d;
    color: white;
    border: none;
}
.category-notfound {
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 1rem;
    color: #ee4d2d;
}
.promo-box-container {
    border: 3px dashed #ee4d2d;
    padding: 1rem;
    position: relative;
}
.btn-promo-close {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    color: #ee4d2d;
    top: 2rem;
    right: 2rem;
    background-color: transparent;
    padding: .75rem;
    border: 3px solid #ee4d2d;

}
.sub-label {
    color: #ee4d2d;
}
.price-after-disc-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding:2rem 0;
    margin-top: 2rem;
    border-top: 3px dashed #ee4d2d;
}

.price-before-val,.price-after-val {
    font-weight: 700;
    font-size: 4rem;
    color: #ee4d2d;
}
.btn-save-disc {
    align-self: flex-end;
    cursor: pointer;
    color: white;
    display: inline-block;
    padding: 1rem;
    background-color: #ee4d2d;
}